* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("./images/Object.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #071629;
  font-family: sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 160px;
  margin-top: 25px;
}
ul {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
li {
  text-decoration: none;
  list-style: none;
}
a {
  font-weight: 800;
  font-size: 12px;
  color: white;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.getschooled {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getschooled > h1 {
  font-weight: bold;
  color: white;
  margin-top: 165px;
  margin-bottom: 0px;
  font-size: 108px;
}
.getschooled > div {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  gap: 58px;
  color: white;
  margin-bottom: 60px;
}
.getschooled > button {
  background-color: #c271ff;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 80px;
  font-weight: 800;
  margin-bottom: 120px;
}
.prosTitle {
  text-align: center;
  color: white;
  font-weight: lighter;
  margin-bottom: 90px;
}
.prosTitleSpan {
  font-weight: 600;
  color: #c271ff;
}
.pros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 135px;
  color: white;
}
.pro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.pro > img {
  width: 150px;
  height: 150px;
}
.pro2 > img {
  border-radius: 50%;
}
.pro > h3 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.pro > p {
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
}

.getschooledBottom {
  margin-bottom: 90px;
}
.section2 {
  padding: 20px 250px;
  background-color: #c271ff;
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: left;
  align-items: center;
  gap: 30px;
  height: 400px;
}

.section2 > h3,
p {
  margin-left: 0 40px 0 40px;
}
.section2Content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
}

.section3 > h2 {
  font-size: 32px;
  font-weight: 200;
  margin: 87px;
}
.section3Cards {
  display: flex;
  justify-content: space-around;
  margin: 0 50px;
}
.section3 > h2 > span {
  color: #c271ff;
}
.card {
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card > h3,
p {
  padding: 10px;
}
.card > img {
  border-radius: 10px 10px 0 0px;
  width: 100%;
}
.cardProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
.cardProfile > img {
  width: 30px;
  height: 30px;
}
.cardProfile > h4 {
  color: #c271ff;
}
.ratingSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.rating {
  padding: 5px;
  display: flex;
}
.fa-solid {
  color: #c271ff;
  font-size: 10px;
}
/* .fa-star {
  color: gray;
} */
.section4 {
  background-color: #071629;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 500px;
  padding: 0 80px;
  text-align: center;
  gap: 50px;
  padding-top: 50px;
}
.section4 > h2 > span {
  color: #c271ff;
}
.membership {
  display: flex;
}
.membershipCard > img,
h3 {
  margin-top: 20px;
}
.section4 > button {
  background-color: #c271ff;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 80px;
  font-weight: 600;
  /* margin-bottom: 100px; */
  align-self: center;
}
.section5 {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  height: 100vh;
  justify-content: center;
  padding: 50px;
}
.section5 > h2 {
  font-size: 60px;
  font-weight: lighter;
}
.faqCards {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* gap: 60px; */
  text-align: left;
  margin: 0 70px 0 70px;
}
.faqCards1,
.faqCards2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section6 {
  color: white;
  height: 100px;
  padding: 90px 100px;
  text-align: center;
}
footer {
  background-color: #071629;
}
.socialMedias {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 80px;
}
.socialMedias > div > i {
  width: 30px;
  height: 30px;
}

.section6 > p {
  opacity: 50%;
  font-weight: 400;
  font-size: 10px;
}
.faqPar {
  width: 60%;
  opacity: 50%;
}
